@media (orientation: landscape) {

    html {
        background-image: url('../images/horizontal_background.png');
    }

    body {
        width: 90%;
        height: 90%;

        .top {
            margin: 0;
        }

        .center {
            width: 85%;
            position: relative;
            float: left;
        }

        .bottom {
            flex-direction: column;
            width: 15%;
            position: relative;
            float: left;
            margin: 0;
            height: 90%;
            align-items: flex-end;
            justify-content: space-between;
            flex-wrap: nowrap;

            .button {
                img {
                    width: 100%;
                    height: 80%;
                }
            }
        }
    }
}